<mat-toolbar>
  <span>Order Details</span>
</mat-toolbar>

<div class="pt-5">
  <div class="container border">
    <div class="row" style="text-align: center;">
      <div class="col">
        <div class="row">
          <div class="col pt-2">
            <mat-label class="mat-display-1">Add New Order</mat-label>
          </div>
        </div>
      {{today}}
        <div class="row">
          <div class="col pt-5">
            <mat-label class="pr-5 font">User</mat-label>
            <mat-form-field appearance="fill" class="user_value">
              <mat-label>User name</mat-label>
              <mat-select [(ngModel)]="selecteduser" name="username">
                <mat-option *ngFor="let username of username" [value]="username.value">
                  {{username.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      
        <div class="row">
          <div class="col pt-2">
            <mat-label class="pr-4 font">Product</mat-label>
            <mat-form-field appearance="fill">
              <mat-label>Drinks</mat-label>
              <mat-select [(ngModel)]="selectedfood" name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      
        <div class="row">
          <div class="col pt-2">
            <mat-label class="pr-3 font">Quantity</mat-label>
            <input type="number"  [(ngModel)]="Quantity" class="inputvalue out">
          </div>
        </div>
      
        <div class="row">
          <div class="col pt-3 ml-5 pb-3">
            <button (click)="add()" mat-button class="out btn btn-secondary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container border pt-2">
    <div class="row pl-5">
      <div class="col">
        <div class="row">
          <div class="col pt-2">
            <mat-label class="font">search</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col pt-2">
            <mat-form-field appearance="fill">
              <mat-label>Search</mat-label>
              <mat-select [(ngModel)]="selectedsearch" (ngModelChange)="fn(selectedsearch)" name="search">
                <mat-option *ngFor="let search of search" [value]="search.value">
                  {{search.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>

          <div class="col d-flex align-items-center">
            <input type="text"  [(ngModel)]="searchText" class="inputvalue out" placeholder="enter search term...">
          </div>

          <div class="col d-flex align-items-center pt-2">
            <button (click)="searchfn(searchText)" mat-button class="out out1 btn btn-secondary">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container pt-2">
    <div class="row">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of selected">
            <th>{{order.user}}</th>
            <td>{{order.product}}</td>
            <td>{{order.price}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total}}</td>
            <td>{{order.date}}</td>
            <td class="delete"><span (click)="delete(order.product)">Delete</span></td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
  <!-- all time -->
  <!-- last 7 days -->
  <!-- <div *ngIf="selectedsearch == 'Last 7 days'"> 
  <div   class="container pt-2">
    <div class="row">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of table">
            <th>{{order.user}}</th>
            <td>{{order.product}}</td>
            <td>{{order.price}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total}}</td>
            <td>{{order.date}}</td>
            <td class="delete"><span (click)="edit(order.product)">Edit</span> &nbsp; &nbsp;<span (click)="delete(order.product)">Delete</span></td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
  <br><br> -->


  <!-- last7days -->
<!-- today -->
<!-- <div *ngIf="selectedsearch == 'Today'"> 
  <div   class="container pt-2">
    <div class="row">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of table">
            <th>{{order.user}}</th>
            <td>{{order.product}}</td>
            <td>{{order.price}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total}}</td>
            <td>{{order.date}}</td>
            <td class="delete"><span (click)="edit(order.product)">Edit</span> &nbsp; &nbsp;<span (click)="delete(order.product)">Delete</span></td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
  <br><br> -->

<!-- today -->


  <div class="container pt-1">
    <div class="row ">
      <nav class="ml-auto">
        <ul class="pagination pagination-md">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">1</a>
          </li>
          <li class="page-item text-secondary"><a class="page-link color" href="#">2</a></li>
          <li class="page-item "><a class="page-link color" href="#">3</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>
